@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#home_hero {
    background-image: url("./assests/img/home_hero.webp");
    /* Additional styling properties */
    background-size: cover; /* Adjust based on your needs */
    background-position: center; /* Adjust based on your needs */
    background-attachment: fixed;
    /* Other styling properties as needed */
}
#hero_heading{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 10px;
    border-radius: 10px;
}

.featureOne{
    background-image: url("./assests/img/home_01breakfast.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    filter: saturate(50%);
}
.featureTwo{
    background-image: url("./assests/img/home_02guestbook.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    filter: saturate(50%);
}
.featureThree{
    background-image: url("./assests/img/home_03wedding.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    filter: saturate(50%);
}
.roomHero{
    background-image: url("./assests/Rooms/Room_hero.webp");
    background-size: cover;
    background-position: center;  
}
.weddingHero{
    background-image: url("./assests/img/wedding_hero.jpeg");
    background-size: cover;
    background-position: center; 
}
.storyHero{
    background-image: url("./assests/img/story_hero.jpg");
    background-size: cover;
    background-position: center; 
}
#Exploring{
    background-image: url("./assests/img/ExploringWindsor_hero.jpg");
    background-size: cover;
    background-position: center; 
}

h1, h2, nav, .font{
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
p, li{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.line-between{
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
}

.roomTypeFontSize{
    font-size: 38px;
}
.singleRoomFontSize{
    font-size: 44px;
}

.item{
    width: 400px;
    border: solid 1px #333;
    border-radius: 10px;
    margin: 10px 8px;
}



/************
* Container for the navigation-list
************/

.nav-links {
    display: flex;
    justify-content: center; /* Centers the links horizontally */
    list-style-type: none; /* Removes default list styling */

  }


.nav-links {
    font-family: "Alice", serif;
    gap: 2rem;
}

  
  /* Navigation links */
  .nav-links li {
    margin: 0 15px; /* Adds spacing between links */
    font-family: "Alice", serif;
  }
  
  .nav-links a {
    text-decoration: none; /* Removes underline from links */
    color: #000; /* Sets the text color */
    padding: 10px; /* Adds padding around links */
    transition: color 0.3s ease; /* Adds transition effect */
  }
  
  /* Hover effect */
  .nav-links a:hover {
    color: rgb(248 113 113);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(248 113 113);
  }


#none-underline a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    
}

#none-underline a:hover {
    color: rgb(239, 166, 166); 
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column; /* Align links vertically */
        align-items: center; /* Center horizontally */
    }
}